@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100;1,200&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    color:  #777;

}

body {
    background-color: #FDF5E6;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin: 0px;
}

#profile {
    width: 30%;
}

header {
    /* border-bottom: 2px solid #FDDC5C; */
    text-align: center;
    
}

.main-header h1, .main-header h2, .main-header h5 {
    color: #222222;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    
}

.nav a {
    display: inline-block;
    padding: .5em;
    text-decoration: none;
    
}

.nav a:hover {
    background-color: rgba(149, 45, 45, 0.5)
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid #777;
}

.main-content {
    padding: 1em;
}

.main-header {
    /* Add a background image to the main header */
    /* background-image: url("Images/");
    background-size: cover; */

}

/* p {
    max-width: 900px;
    margin: 0 auto;
} */

div {
    padding: 8px;
}

footer {
    text-align: center;
    background-color: #F5F5F5;
    border-top: 2px solid #F5F5F5;
    padding-top: 3px;
    position: sticky;
    top: 100vh;
}

form {
    margin: 50px auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #FDDC5C;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #FA4224;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #FDDC5C;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid #FA4224;
    background-color: #FA4224;
    color: #FFF;
}

.form-item button {
    width: 100px;
}



/* Small devices (landscape phones, 481px and up) */
@media (min-width: 481px) { 
    body {
        background-color: orange;
    }
}

/* Medium devices (tablets, 641px and up)*/
@media (min-width: 641px) {
    body {
        background-color: yellow;
    }
}

/* Large devices (desktops, 961px and up) */
@media (min-width: 961px) {
    body {
        background-color: green;
    }
}

/* Extra large devices (large desktops, 1025px and up) */
@media (min-width: 1025px) {
    body {
        background-color: blue;
    }
}

 /* MASSIVE devices (large desktops, 1281px and up) */
@media (min-width: 1281px) {
    body {
        background-color: purple;
    }
}