body {
    background-color: lavender;
}

#my-div-id {
    background-color: peachpuff;
}

.list-item {
    background-color: darkseagreen;
}

.main-heading {
    background-color: lightskyblue;
}

#first-paragraph {
    background-color: lightcoral;
}

.nav-item {
    background-color: mediumpurple;
}

.nav2-item {
    background-color: gold;
}