.container {
    display: flex;
    height: 400px;
    justify-content: space-between;
    align-items: flex-end;
    border: 3px dashed orange;
  }
  
  .item { 
      width: 14%; 
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
  #item-1 { 
      height: 40%;
      background-color: blueviolet;
     }
  #item-2 { 
      height: 50%;
      background-color: forestgreen;
     }
  #item-3 { height: 60%; background-color: rosybrown;}
  #item-4 { height: 20%; background-color: red;}
  #item-5 { height: 30%; background-color: skyblue;}
  #item-6 { height: 10%; background-color: brown;}
  

  * {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  @media (max-width: 600px) {
      .container {
          flex-wrap: row;
      }

  }